# {{ date }} <br> SWD7: Reproducible Workflows in Python

Welcome to the hack pad for SWD7 course from Research Computing at the University of Leeds!

You can edit this document using Markdown syntax.

## Contents

1. [Links to resource](#Links-to-resources)
2. [Agenda Day 1](#Agenda-Day-1)
3. [Agenda Day 2](#Agenda-Day-2)
4. [What's your name and where do you come from?](#What’s-your-name-and-where-do-you-come-from)


## Links to resources

- **Contact Research Computing** - https://bit.ly/arc-help
- **Request HPC account** - https://leeds.service-now.com/it?id=sc_cat_item&sys_id=4c002dd70f235f00a82247ece1050ebc
- **Code for today** - https://github.com/trallard/ReproduciblePython


{% if morning %}

## Agenda Day 1

| Time     | Agenda                                     |
| -------- | ------------------------------------------ |
| 0900     | Intro and setup                            |
| 0950     | Break                                      |
| 1000     | Project structure and cookiecutter         |
| 1050     | Break                                      |
| 1100     | Data, data and more data                   |
| 1150     | Questions                                  |
| 1200     | Close                                      |

## Agenda Day 2

| Time     | Agenda                                     |
| -------- | ------------------------------------------ |
| 0900     | Intro, processing data                     |
| 0950     | Questions and break                        |
| 1000     | Testing our code                           |
| 1050     | Questions and break                        |
| 1100     | Sharing our code with the world            |
| 1150     | Wrap up and questions                      |
| 1200     | Close                                      |

{% else %}

## Agenda Day 1

| Time     | Agenda                                     |
| -------- | ------------------------------------------ |
| 1300     | Intro and setup                            |
| 1350     | Break                                      |
| 1400     | Project structure and cookiecutter         |
| 1450     | Break                                      |
| 1500     | Data, data and more data                   |
| 1550     | Questions                                  |
| 1600     | Close                                      |

## Agenda Day 2

| Time     | Agenda                                     |
| -------- | ------------------------------------------ |
| 1300     | Intro, processing data                     |
| 1350     | Questions and break                        |
| 1400     | Testing our code                           |
| 1450     | Questions and break                        |
| 1500     | Sharing our code with the world            |
| 1550     | Wrap up and questions                      |
| 1600     | Close                                      |
{% endif %}



## What's your name and where do you come from? And why do you want to use HPC?
- Edit the hackpad and add your name!

## Further reading notes from part 1

- Best practices for data sharing - https://www.w3.org/TR/dwbp/#bp-summary
- How to choose an open source license - https://choosealicense.com/
- Good blog post on how to write good commit messages - https://chris.beams.io/posts/git-commit/
- 

## Links from part 2

- Visual Studio Code - https://code.visualstudio.com/
